@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
/*estilos de header*/
.bg-grey{
	background-color: #34495E;
}
.b-none{
	border: none;
}
.pd-5{
	padding: 5px;
}
.mt-3{
	margin-top: 5px;
	box-sizing: content-box;
}
.navbar-default .navbar-nav>li>a {
	color: #B8BEC3;
}
.navbar-default .navbar-nav>li>a:hover{
	background-color: #34405E;
	color: #FFFFFF;
}
/*estilos de contacto*/
.contacto{
	background-color: #2ECC71;
	padding: 3% 7%;
	color: #FFFFFF;
}
.contacto a{
	color: #ffffff;
}
.contacto a:hover{
	color: #CECDCD;
}
.contacto ul{
	margin-top: 20%;
	text-align: right;
}
/*estilos del formulario*/
.formulario{
	background-color: #F5F5F5;
	padding: 5% 7%;
	color:  #364B60;
}
.mensaje{
	margin-top: 55px;
}